@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
  }
}

body {
  font-feature-settings: "rlig" 1, "calt" 1;
}

.gradient-text {
  background: linear-gradient(135deg, #a855f7, #eab308);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
